<div class="topnav">
  <a id="sort" href="#/">Sortera efter:</a>
  <a href="#/" id="lagerstatus" (click)="sortByStock()">Lagerstatus</a>
  <a href="#/" id="pris" (click)="sortByPrice()">Pris</a>
  <a href="#/" id="volym" (click)="sortByVol()">Volym</a>
  <div *ngIf="sortByVolToggled" class="volumeContainer">
    <form class="input-container">
      <input
        type="number"
        placeholder="från..."
        name="from_volume"
        [(ngModel)]="fromVolume"
        (keyup)="updateSortByVol()"
      />

      <input
        type="number"
        placeholder="till..."
        name="to_volume"
        [(ngModel)]="toVolume"
        (keyup)="updateSortByVol()"
      />
    </form>
  </div>
  <div class="search-container">
    <form class="input-container">
      <input
        [(ngModel)]="searchValue"
        (keyup)="searchFunction()"
        type="text"
        placeholder="Search.."
        name="search"
      />
      <button type="submit" (click)="searchFunction()">
        <i class="bi bi-search"></i>
      </button>
    </form>
  </div>
</div>
