<app-side-navbar
  (onSideBarToggled)="sideBarToggled($event)"
  (onCategoryToggled)="categoryToggled($event)"
></app-side-navbar>
<div id="main">
  <app-top-navbar
    (onSortByPriceToggled)="sortByPriceToggled($event)"
    (onSortByStockToggled)="sortByStockToggled($event)"
    (onSortByVolToggled)="sortByVolToggled($event)"
    (onSearch)="searchForToggled($event)"
  ></app-top-navbar>
  <app-products
    [sortByPrice]="sortByPriceSelector"
    [sortByVolume]="sortByVolSelector"
    [sortByStock]="sortByStockSelector"
    [categoryPicked]="category"
    [searchString]="searchString"
  ></app-products>
</div>
