<div class="left-sidebar">
  <div class="sidebar-menu">
    <aside
      id="sidebar"
      class="sidebar"
      (mouseenter)="toggleSidebar()"
      (mouseleave)="toggleSidebar()"
    >
      <h3>Menu</h3>
      <nav class="menu">
        <a href="#" class="menu-item is-active"
          ><i class="bi bi-house-door" style="font-size: 2rem"></i>Home</a
        >
        <a href="#" class="menu-item"
          ><i class="bi bi-info-square" style="font-size: 2rem"></i>Exempel1</a
        >
        <a href="#" class="menu-item"
          ><i class="bi bi-basket" style="font-size: 2rem"></i>Exempel1</a
        >
        <a href="#" class="menu-item"
          ><i class="bi bi-envelope" style="font-size: 2rem"></i>Exempel1</a
        >
      </nav>
    </aside>
  </div>
</div>
