<div class="left-sidebar">
  <div class="sidebar-menu">
    <aside
      id="sidebar"
      class="sidebar"
      (mouseenter)="toggleSidebar()"
      (mouseleave)="toggleSidebar()"
    >
      <h3>Kategori</h3>
      <nav class="menu" *ngFor="let category of categories; let i = index">
        <a
          href="#"
          class="menu-item"
          [ngClass]="{ active: selectedIndex === i }"
          (click)="onCategoryClicked(category)"
          (click)="setIndex(i)"
          ><i class="bi bi-bookmark" style="font-size: 2rem"></i
          >{{ category }}</a
        >
      </nav>
    </aside>
  </div>
</div>
